@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100|Lato:100');
body {
	background-image: url('./images/back6.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Poiret One', cursive;
	/*display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);*/
	margin: 0;
	position: relative;
	z-index: 1;
	height: 100vh;

}
html {
	width: 100%;
	margin: 0;
	height: 100vh;
}
nav span:hover {
	cursor: pointer;
	transform: scale(1.2);
}
a {
	color: white;
	text-decoration: none;
}
.description a {
	color: white;
}
.closedBanner {
	text-align: center;
	font-size: 2em;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Poiret One', cursive;*/
	letter-spacing: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	transition: margin-top 2s;
}
.maincontent {
	padding: 5%;
}
.openBanner {
	text-align: center;
	font-size: 1.7em;
	color: white;
	/*font-family: 'Poiret One', cursive;*/
	letter-spacing: 5px;
	margin-top: -5%;
	transition: margin-top 2s;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.openBanner h1 {
	margin-bottom: 0;
}
.openBanner h3 {
	margin: 5px;
}
.openBanner .skills {
	font-size: 0.5em;
}
.skills {
	font-size: 0.6em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 20%;
}

.hiddenAbout {
	margin-top: -2px;
	overflow: hidden;
	display: none;
}

.openAbout {
	margin-top: 50px;
	transition: margin-top 2s;
	z-index: -1;
	position: relative;
  	background: #0a1f21;
  	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	font-family: 'Josefin Sans', sans-serif;

}
.openContacts {
	margin-top: 100px;
	transition: margin-top 2s;
	position: relative;
  	background: #0a1f21;
  	color: white;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
	font-family: 'Josefin Sans', sans-serif;
}

.content {
	padding: 5%;
}

.hiddenMain {
	display: none;
	margin-top: -2px;
}
.openMain {
	margin-top: 50px;
	transition: 2s;
	position: relative;
  	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
}
.allProjects {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}
.builtFromScratch {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.implemented {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.beginnings {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.section {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 5%;
  	background: #0a1f21;
	text-align: center;
}
.description {
	width: 70%;
	padding-bottom: 10%;
	font-family: 'Josefin Sans', sans-serif;
}
.section img {
	width: 80%;
	height: 70%;
	padding-top: 10%;
}

.closedNav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	color: white;
	margin-top: 10%;
}
.openNav {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
	margin-top: -100;
	transition: margin-top 2s;


}
.hiddenContacts {
	margin-top: -2px;
	display: none;
}

footer {
	/*display: none;*/
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.image {
	width: 400px;
	height: 300px;
	overflow: hidden;

}
.inner-img {
	transition: 0.3s;
}
.inner-img:hover {
	transform: scale(1.1);
	cursor: pointer;
}
main {
	display: none;
}

@media screen and (max-width: 550px) {
	.banner {
		font-size: 1.2em;
	}
	.openBanner {
		font-size: 1.2em;
		transition: margin-top 2s;
		margin-top: 30px;

	}
	.openMain {
		transition: margin-top 2s;
		margin-top: 30px;
	}
	.allProjects {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 0.9em;
	}
	.section {
		width: 70%;
	}
	.image {
		width: 200px;
		height: 150px;
	}
	.openAbout {
		display: flex;
		flex-direction: column;
	}
}