@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100|Lato:100');
body {
	background-image: url('./images/back6.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	position: relative;
	z-index: 1;
	height: 100vh;
}
html {
	width: 100%;
	margin: 0;
	height: 100vh;
}
nav span:hover {
	cursor: pointer;
	transform: scale(1.2);
}
a {
	color: white;
	text-decoration: none;
}
h1 {
	letter-spacing: 15px;
	font-weight: normal;
}
h3 {
	font-weight: normal;
	letter-spacing: 5px;
}

/*Styiling of the banner*/
.closedBanner {
	text-align: center;
	font-size: 2em;
	color: white;
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Poiret One', cursive;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	transition: margin-top 1s;
	font-weight: normal;
}
.maincontent {
	padding: 5%;
}
.openBanner {
	text-align: center;
	font-size: 1.7em;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	overflow: scroll;
	/*font-family: 'Poiret One', cursive;*/
	margin-top: -5%;
	transition: margin-top 1s;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	scroll-behavior: smooth;
}

.openBanner h1 {
	margin-bottom: 0;
}
.openBanner h3 {
	margin: 5px;
}
.openBanner .skills {
	font-size: 0.5em;
}
.skills {
	font-size: 0.6em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 20%;
	letter-spacing: 5px;
}
/*styling of the about section*/
.smallTitle {
	display: none;
}
.hiddenAbout {
	margin-top: -2px;
	overflow: hidden;
	display: none;
}
.openAbout {
	margin-top: 50px;
	transition: margin-top 1s;
	z-index: -1;
	position: relative;
  	background: #0a1f21;
  	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	font-family: 'Josefin Sans', sans-serif;
}
.photo img {
	border-radius: 50%;
}
.quote {
	font-style: italic;
	padding-top: 20px;
}
/*styiling of the contacts section*/
footer {
	/*display: none;*/
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.hiddenContacts {
	margin-top: -2px;
	display: none;
}
.openContacts {
	margin-top: 100px;
	transition: margin-top 1s;
	position: relative;
  	background: #0a1f21;
  	color: white;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
	font-family: 'Josefin Sans', sans-serif;
}
.content {
	padding: 5%;
}
/*styiling of the projects section*/
.hiddenMain {
	display: none;
	margin-top: -2px;
}
.openMain {
	margin-top: 50px;
	transition: 1s;
	position: relative;
  	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
}
.allProjects {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}
.apps {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.beginnings .section {
	width: 30%;
	margin-left: 2%;
	margin-right: 2%;
}
.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 50px;
}
.section {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 5%;
  	background: #0a1f21;
	text-align: center;
}
.description {
	width: 70%;
	padding-bottom: 10%;
	font-family: 'Josefin Sans', sans-serif;
}
.description h3 {
	letter-spacing: 0;
}
.description p {
	text-align: justify;

}
.description a {
	color: white;
}
.description a:hover {
	transform: scale(1.1);
}
.section img {
	width: 80%;
	height: 70%;
	padding-top: 10%;
}

.image {
	width: 400px;
	height: 300px;
	overflow: hidden;

}
.inner-img {
	transition: 0.3s;
}
.inner-img:hover {
	transform: scale(1.1);
	cursor: pointer;
}
/*styiling of the navigation*/
.closedNav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	color: white;
	margin-top: 10%;
	font-family: 'Josefin Sans', sans-serif;
}
.openNav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
	margin-top: -100;
	transition: margin-top 2s;
	font-family: 'Josefin Sans', sans-serif;
}


@media screen and (max-width: 600px) {
	h1 {
		letter-spacing: 0;
	}
	h3 {
		letter-spacing: 0;
	}
	.banner {
		font-size: 1.2em;
	}
	.openBanner {
		font-size: 1.2em;
		transition: margin-top 2s;
		/*margin-top: 30px;*/
		letter-spacing: 0;

	}
	.closedBanner {
		letter-spacing: 0;
	}
	
	.smallTitle {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5%;
	}
	/*.openMain {
		transition: margin-top 2s;
		margin-top: 30px;
	}*/
	.hiddenMain {
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: #0a1f21;
		color: white;
		margin-top: 50px;
		font-size: 0.8em;


	} 
	.section {
		margin: 0;
		width: 90%;
	}
	.beginnings .section {
		width: 90%;
	}
	.hiddenAbout {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 0.8em;
		background-color: #0a1f21;
		color: white;
		margin-top: 30px;
	}
	.photo img {
		padding-top: 20px;
		width: 100px;
		height: 150px;
		border-radius: 50%;
	}
	.hiddenContacts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #0a1f21;
		color: white;
		font-size: 0.8em;
		margin-top: 50px;
		margin-bottom: 50px;

	}
	.nav {
		display: none;
	}
	/*.allProjects {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 0.9em;
	}*/
	.apps {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/*.section {
		width: 70%;
	}*/
	.image {
		width: 200px;
		height: 150px;
	}
	.openAbout {
		display: flex;
		flex-direction: column;
	}
	.openContacts {
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.singleContact {
		padding: 2%;
	}
	footer {
		height: 200px;
	}

}

@media screen and (min-width: 601px) and (max-width: 1000px) {
	h1 {
		font-size: 1.5em;
		letter-spacing: 3px;
	}
	h3 {
		font-size: 1.2em;
		letter-spacing: 3px;
	}
	.skills {
		letter-spacing: 0;
	}
	.apps {
		display: flex;
		flex-direction: column;

	}
	.section {
		width: 100%;
		margin: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		/*display: flex;
		flex-direction: row;*/
	}

	.description {
		width: 90%;
		
	}
	.description p {
		text-align: justify;

	}
	.description h3 {
		letter-spacing: 0;
	}
	.left .image {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.left .description {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;

	}
	.right .image {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.right .description {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		padding-left: 10%;

	}
} 